#set($searcher=$request.searcher)
#set($params=$request.params)
#set($clusters = $response.response.clusters)
#set($mltResults = $response.response.get("moreLikeThis"))
#set($annotate = $params.get("annotateBrowse"))
#parse('query.vm')
#parse('did_you_mean.vm')

<div class="navigators">
    #parse("facets.vm")
</div>

<div class="pagination">
<!-- empty -->
</div>

<div class="error">
    #if(${response.response.error.code})
        <h1>ERROR ${response.response.error.code}</h1>
        ${response.response.error.msg}
    #end
</div>

<div class="results">

<p><a href="http://hdl.handle.net/10622/395C60F3-EAC6-4466-B863-E1C37A8B85FF"><img style="float:left;margin-right:10px;margin-bottom: 50px" width="160px" title="Sluit u aan! Bij uw modernen vakbond. NVV." alt="poster" src="#{url_for_solr}/admin/file?file=/velocity/30051000311065.jpg&contentType=image/jpeg)" target="_blank"/></a>$resource.accountability_1</p>
<p>$resource.accountability_2</p>
<p>$resource.accountability_3</p>

</div>

<div class="pagination">
    <!-- empty -->
    <br/>
</div>
