<hr/>
<div>
  <span>Options:</span>
  #if($request.params.get('debugQuery'))
  <a href="#url_for_home?#q#if($list.size($request.params.getParams('fq')) > 0)&#fqs($request.params.getParams('fq'))#end">disable debug</a>
  #else
##  <a href="#url_for_lens&debugQuery=true&fl=*,score">enable debug</a>
  #end
  #if($annotate)
  <a href="#url_for_home?#q#if($list.size($request.params.getParams('fq')) > 0)&#fqs($request.params.getParams('fq'))#end#boostPrice">disable annotation</a>
  #else
##  <a href="#url_for_lens&annotateBrowse=true">enable annotation</a>
  #end
  <a #annTitle("Click to switch to an XML response: &wt=xml") href="#url_for_lens&wt=xml#if($request.params.get('debugQuery'))&debugQuery=true#end">XML</a></div>
<div>The Database Dutch Trade Unions contains information on their establishment, merging, liquidation, and number of members of the Dutch Trade Union Organization.</div>
<div>Number of documents: 30000. Last updated on May 5th, 2013</div>