## An example of using an arbitrary request parameter
<title>#param('title')</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<script type="text/javascript" src="#{url_root}/js/lib/jquery-1.7.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="#{url_for_solr}/admin/file?file=/velocity/main.css&contentType=text/css"/>
<link rel="stylesheet" href="#{url_for_solr}/admin/file?file=/velocity/jquery.autocomplete.css&contentType=text/css"
      type="text/css"/>
<script type="text/javascript"
        src="#{url_for_solr}/admin/file?file=/velocity/jquery.autocomplete.js&contentType=text/javascript"></script>
<script type="text/javascript"
        src="#{url_for_solr}/admin/file?file=/velocity/jquery.autocomplete.js&contentType=text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $("\#q").autocomplete('#{url_for_solr}/terms', {  ## backslash escaped #q as that is a macro defined in VM_global_library.vm
                    extraParams: {
                        'terms.prefix': function () {
                            return $("\#q").val();
                        },
                        'terms.sort': 'count',
                        'terms.fl': 'text',
                        'wt': 'velocity',
                        'v.template': 'suggest'
                    }
                }
        ).keydown(function (e) {
                    if (e.keyCode === 13) {
                        $("#query-form").trigger('submit');
                    }
                });

        // http://localhost:8983/solr/terms?terms.fl=name&terms.prefix=i&terms.sort=count
    });

    function toggle(className) {
        $('.' + className).toggle();
    }

</script>

<style type="text/css">
    .ac_loading {
        background: white url(#{url_for_solr}/admin/file?file=/velocity/indicator.gif&contentType=image/gif) right center no-repeat;
    }

    #head {
        background-image: url(#{url_for_solr}/admin/file?file=/velocity/logo-right.png&contentType=image/png)
    }

    .logo {
        background-image: url(#{url_for_solr}/admin/file?file=/velocity/logo.png&contentType=image/png)
    }

    .constraint {
        background: white url(#{url_for_solr}/admin/file?file=/velocity/delete.png&contentType=image/png) left center no-repeat;
    }
</style>
