#parse('debug.vm')

#set($id=$doc.getFieldValue('id'))
#set($toggle = 'toggle'+$id)

<div class="$toggle">
    <div class="result-title"><b>#field('Nmorg_std_s')</b><span class="mlt"><a name="$id" href="javascript:toggle('$toggle')">$resource.fullview</a></span></div>
    #row('StandaardGemNaam_s')
    #row('Beroepsgroep_s')
    #row('Bedrijfsgroep_s')
    #row('Richting_s')
    #date('Opr')
</div>

<div class="$toggle" style="display: none">
    <div class="result-title"><b>#field('Nmorg_std_s')</b><span class="mlt"><a href="javascript:toggle('$toggle')">$resource.briefview</a></span></div>
    #row('Landelijk_s')
    #row('Plaats_StandaardNaam_s')
    #row('StandaardGemNaam_s')
    #row('Beroepsgroep_s')
    #row('Bedrijfsgroep_s')
    #row('Richting_s')
    #date('Opr')
    #date('Oph')
    #if ($doc.getFieldValue('Bron_concat_ss'))
        <div>$resource.Bron_concat_ss:
            <table class="bron">
                <tr class="result-tr">
                    <td>$resource.Bron_concat_ss.Nrorg_std</td>
                    <td>$resource.Bron_concat_ss.source</td>
                </tr>
                #foreach($tr in $doc.getFieldValue('Bron_concat_ss'))
                    <tr class="result-tr">
                        #set($trs=$tr.split('_'))
                    ##                        0=NummerOrg, 1=Naamorg, 2=Bron
                        <td>$trs[1]</td>
                        <td>$trs[2]</td>
                    </tr>
                #end
            </table>
        </div>
    #end
    #if ($doc.getFieldValue('Lid_concat_ss'))
        <div>$resource.Lid_concat_ss:
            <table class="bron">
                <tr class="result-tr">
                    <td>$resource.Lid_concat_ss.Jaar</td>
                    <td>$resource.Lid_concat_ss.Aantalleden</td>
                    <td>$resource.Lid_concat_ss.Bronlid</td>
                </tr>
                #foreach($tr in $doc.getFieldValue('Lid_concat_ss'))
                    <tr class="result-tr">
                        #set($trs=$tr.split('_'))
                    ##                        0=Nummer_lid, 1=Jaar, 2=Aantalleden, 3=Bronlid
                        <td>$trs[1]</td>
                        <td>$trs[2]</td>
                        <td>$trs[3]</td>
                    </tr>
                #end
            </table>
        </div>
    #end

</div>


