#parse('debug.vm')

#set($toggle = 'toggle'+$doc.getFieldValue('id'))

<div class="$toggle">
    <div class="result-title"><b>#field('Nmorg_std_s')</b><span class="mlt"><a href="javascript:toggle('$toggle')">(Full
        detail)</a></span></div>
    #row('StandaardGemNaam_s')
    #row('StandaardProvincie_s')
    #row('Bedrijfsgroep_s')
    #row('Richting_s')
    #date('Opr')
</div>

<div class="$toggle" style="display: none">
    <div class="result-title"><b>#field('Nmorg_std_s')</b><span class="mlt"><a href="javascript:toggle('$toggle')">(Brief
        detail)</a></span></div>
    #row('Landelijk_s')
    #row('Plaats_StandaardNaam_s')
    #row('StandaardGemNaam_s')
    #row('StandaardProvincie_s')
    #row('Bedrijfsgroep_s')
    #row('Richting_s')
    #date('Opr')
    #date('Oph')
    #if ($doc.getFieldValue('Bron_concat_ss'))
        <div>#msg('Bron_concat_ss'):
            <table class="bron">
                <thead>
                <tr>
                    <th>#msg('id')</th>
                    <th>#msg('name')</th>
                    <th>#msg('source')</th>
                </tr>
                </thead>
                #foreach($tr in $doc.getFieldValue('Bron_concat_ss'))
                    <tr>
                        #foreach($td in $tr.split('_') )
                            <td>$td</td>
                        #end
                    </tr>
                #end
            </table>
        </div>
    #end

</div>

#macro(row $key)
    #if ($doc.getFieldValue($key))
    <div>#msg($key): <a
            href="#url_for_nested_facet_query($key):$esc.url($doc.getFieldValue($key))">#field($key)</a>
    </div>
    #end
#end

#macro(date $key)

    #set($year=$key+'_jar_i')
    #set($month=$key+'_mnd_i')
    #set($day=$key+'_dag_i')

    #if ($doc.getFieldValue($year))
    <div>#msg($key): #field($year)
        #if ($doc.getFieldValue($month))
            -#field($month)#end
        #if ($doc.getFieldValue($day))
            -#field($day)#end</div>
    #end
#end

#macro(msg $key)
    $key
#end
