<div class="query-box">
    <form id="query-form" action="#{url_for_home}" method="GET">

        <div class="inputs">
            <span>$resource.searchFor: <input type="text" id="q" name="q" value="$!esc.html($params.get('q'))" style="width:200px"/>
                $resource.searchRange: <input type="text" value="$!esc.html($params.get('q_from'))" id="q_from" name="q_from" size="8"/> $resource.to <input
                        type="text" value="$!esc.html($params.get('q_to'))" id="q_to" name="q_to" size="8"/>
            <input type="submit" id="querySubmit" value="$resource.submit"/> <input type="button" id="reset"
                                                                                    value="$resource.reset"/></span>
        </div>

        #if($request.params.get('debugQuery'))
            <input type="hidden" name="debugQuery" value="true"/>
        #end
        #if($annotate == true)
            <input type="hidden" name="annotateBrowse" value="true"/>
        #end
        #foreach($fq in $request.params.getParams('fq'))
            #if ($fq != "{!bbox}")
                <input type="hidden" name="fq" id="allFQs" value="$esc.html($fq)"/>
            #end
        #end

    #*
            #if ($params.getParams('fq').size() > 0)
                <div class="constraints" #annTitle("Lists out the &fq filters.  Click to remove.")>
                    $resource.filter:
                    #foreach($fq in $params.getParams('fq'))
                        #set($previous_fq_count=$velocityCount - 1)
                        #if($fq != '')
                            #set($kv=$fq.split(':', 2))
                            #set($fqList=[])
                            #foreach($fq2 in $params.getParams('fq'))
                                #if ( $fq!=$fq2)
                                    $!fqList.add($fq2)
                                #end
                            #end
                            <a class="constraint"
                               href="#url_for_filters($fqList)">$resource.get($kv[0])
                                :#msg($kv[0],$kv[1])</a>
                        #end
                    #end
                </div>
            #end
    *#
    #*<div class="parsed_query_header">
        #if($request.params.get('debugQuery'))
            <a href="#" onclick='jQuery(this).siblings("div").toggle(); return false;'>toggle parsed query</a>

            <div class="parsed_query" style="display:none">$response.response.debug.parsedquery</div>
        #end
        #set($queryOpts = $request.params.get("queryOpts"))
        #if($queryOpts && $queryOpts != "")
            <input type="hidden" name="queryOpts" value="$queryOpts"/>
        #end
    </div>*#
    </form>

</div>
