    <hr/>
    Options:
    #if($request.params.get('debugQuery'))
        <a href="#url_for_home?#q#if($list.size($request.params.getParams('fq')) > 0)&#fqs($request.params.getParams('fq'))#end">disable
            debug</a>
    #else
    ##  <a href="#url_for_lens&debugQuery=true&fl=*,score">enable debug</a>
    #end
    #if($annotate)
        <a href="#url_for_home?#q#if($list.size($request.params.getParams('fq')) > 0)&#fqs($request.params.getParams('fq'))#end#boostPrice">disable
            annotation</a>
    #else
    ##  <a href="#url_for_lens&annotateBrowse=true">enable annotation</a>
    #end
    <a #annTitle("Click to switch to an XML response: &wt=xml")
    href="#url_for_lens&wt=xml#if($request.params.get('debugQuery'))&debugQuery=true#end">XML</a>

    <div>$resource.about.description</div>
    <div>$resource.about.counts</div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
        { (i[r].q=i[r].q||[]).push(arguments)}
                ,i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-54446533-1', 'auto');
        ga('send', 'pageview');
    </script>